/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@import url("https://fonts.googleapis.com/css2?family=Asimovian&family=Carter+One&family=Ga+Maamli&family=Kode+Mono:wght@400..700&family=Merienda:wght@300..900&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Press+Start+2P&family=Story+Script&display=swap");

@import "tailwindcss";

@import "./styles/style.css";

@layer utilities {
  .font-Montserrat {
    font-family: "Montserrat", sans-serif;
    /* font-family: "Open Sans", sans-serif; */
  }
  .font-logo {
    /* font-family: "Kode Mono", monospace; */
    /* font-family: "Permanent Marker", cursive; */
    /* font-family: "Ga Maamli", sans-serif; */
    /* font-family: "Press Start 2P", system-ui; */
    /* font-family: "Merienda", cursive; */
    /* font-family: "Monoton", sans-serif; */
    font-family: "Carter One", system-ui;
  }

  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .animate-gradientMove {
    background-size: 200% 200%;
    animation: gradientMove 3s linear infinite alternate;
  }

  .animate-gradientLogo {
    background-size: 200% 200%;
    animation: gradientMove 2s linear infinite alternate;
  }
}

@layer components {
  .card {
    /* margin: 0 auto; */
    padding: 16px 2em;
    /* width: 300px; */
    background: #fff;
    /* text-align: center; */
    border-radius: 10px;
    position: relative;
    z-index: 1;
  }

  .card::after,
  .card::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px;
    border-radius: 10px;
    /* background-image: conic-gradient(
      from var(--angle),
      #4079ff,
      #00ff99,
      #4079ff
    ); */
    /* background-image: conic-gradient(
      from var(--angle),
      #ff4545,
      #00ff99,
      #006aff,
      #ff0095,
      #ff4545
    ); */
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    animation: spin 3s linear infinite;
  }

  .card::before {
    filter: blur(1.5rem);
    opacity: 0.5;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
